{% extends 'admin.html' %}
{% block titulo %}Administrador{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="static/css/administrador.css"> {% endblock %}

{% block username %}
{{ usuario.nombre }}
{% endblock %}

{% block id %}
{{ usuario.idUser }}
{% endblock %}

{% block  contenido %}
<div>
    <form action="/config/cache" method="post">
    <label for="customRange1" class="form-label">Duración de Caché: {{duracionDeCache}}min</label>
    <input type="range" class="form-range" id="duracionDeCache" name="duracionDeCache" min="1" max="60" value= {{duracionDeCache}} >
</form>
  </div>
  
  <label for="web_server_url" class="form-label">URL Web server - Preguntas</label>
    <div class="d-flex gap-3 align-items-center">
        <form action="/config/web_server" method="post">
    <input type="text" class="form-control" id="web_server_url" name="web_server_url" aria-describedby="basic-addon3">
    <button type="button" class="btn btn-primary">Guardar</button>
</form>
  </div>

  {% endblock %}