{% extends 'Navbar.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock%}

<title>{% block titulo %}{% endblock %}</title>

{% block contenido %}
<form action="/url" method="post">
<section class="form-register" >
    <div class="d-flex flex-column gap-1 align-items-center">
      <img src="img/8ef3827d3f838f42f8c223101788a05c.gif" style="width:90px; height: 90px;">
    </div>
    <h4 style="font-family:'Combo', cursive; font-weight:600; font-size:xx-large; text-align: center;">Iniciar sesion</h4>

    <label for="nombres" style="font-family:'Combo', cursive; font-weight:500;">Nombre</label>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre"/>

    <label for="contraseña" style="font-family:'Combo', cursive; font-weight:500;">Contraseña</label>
    <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña"/>

     <br>
    <div class="d-flex gap-3">
      <input class="botons" type="submit" value="Registrarse" style="color: black; font-family:'Combo', cursive; font-weight:600; font-size: x-large;"/>
      <input class="botons" type="submit" value="Ingresar" style="color: black; font-family:'Combo', cursive; font-weight:600; font-size: x-large;"/>
    </div>
  </section>
</form>
{% endblock %}