{% extends 'base.html' %}

{% block username %}
  {{ usuario.nombre }}
{% endblock%}

{% block id %}
  {{ usuario.idUser }}
{% endblock %}

{% block progressbar %}
    <!-- TODO: Agregar calculo -->
    <div class="progress-bar" style="width: 70%;"></div>
{% endblock %}

{% block nivel %}
  {{ usuario.nivel }}
{% endblock %}

{% block contenido %}

    <!--Contenedor Principal-->
    <div id="container">

      <section class="content">
        <a id="avatar">
          <h1 style="color: var(--trivia-secondary); font-family:'Combo', cursive; font-weight:600; font-size:50px;">Elige tu avatar</h1>
          <img src="img/442008112_GLANCING_AVATAR_3D_400px.gif" style="max-width:100%"/>
        </a>
        <div id="avatar-options">
          <a class="avatars">
            <img src="img/442008112_GLANCING_AVATAR_3D_400px.gif" style="width:90px; height: 90px;"/>
          </a>
          <a class="avatars">
            <img src="img/442008112_GLANCING_AVATAR_3D_400px.gif" style="width:90px; height: 90px;"/>
          </a>
          <a class="avatars">
            <img src="img/8ef3827d3f838f42f8c223101788a05c.gif" style="width:90px; height: 90px;"/>
          </a>
          <a class="avatars">
            <img src="img/8ef3827d3f838f42f8c223101788a05c.gif" style="width:90px; height: 90px;"/>
          </a>
        </div>
      </section>

      <aside class="content">
        <section class="form-register-update">
          <h4 style="font-family:'Combo', cursive; font-weight:600; font-size:xx-large">Información Personal</h4>
          <label for="nombres" style="font-family:'Combo', cursive; font-weight:500;">Nombres</label>
          <input class="controls" type="text" name="nombres" id="nombres" placeholder="Juan Pablo"/>
          <label for="apellidos" style="font-family:'Combo', cursive; font-weight:500;">Apellidos</label>
          <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ruiz"/>
          <label for="nac" style="font-family:'Combo', cursive; font-weight:500;">Fecha de Nacimiento</label>
          <input class="controls" type="date" name="nac" id="nac"/>
          <label for="correo" style="font-family:'Combo', cursive; font-weight:500;">Email</label>
          <input class="controls" type="email" name="correo" id="correo" placeholder="ejemplo@gmail.com"/>
          <label for="contraseña" style="font-family:'Combo', cursive; font-weight:500;">Contraseña</label>
          <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="*********"/>

           <br>
           <br>
          <div class="form-check form-switch">
             <input class="form-check-input" type="checkbox" role="switch" id="notificaciones"/>
             <label class="form-check-label" for="notificaciones">Notificaciones</label>
          </div>
           <br>
          <input class="botons" type="submit" value="Guardar" style="font-family:'Combo', cursive; font-weight:600; font-size: x-large;"/>
          <input class="botons" type="submit" value="Cancelar" style="font-family:'Combo', cursive; font-weight:600; font-size: x-large;"/>
        </section>
  
      </aside>
      
    </div>
{% endblock %}