{% extends 'base.html' %}

{% block username %}
{{ usuario.nombres }} {{ usuario.apellidos }}
{% endblock%}

{% block id %}
{{ usuario.idUser }}
{% endblock %}

{% block progressbar %}
<div class="progress-bar" style="width: {{ progress }}%;" title="{{progress}}%"></div>
{% endblock %}

{% block nivel %}
<div class="d-flex gap-2">
  <span>
    <b>Nivel:</b>&nbsp;{{ usuario.nivel }}
  </span>
  <span>
    <b>Intentos:</b>&nbsp;{{ usuario.intentosFallidos}}
  </span>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/perfil.css">
{% endblock %}

{% block contenido %}

<!--Contenedor Principal-->
<div id="container">
  <form action="/perfil" method="post">

    <section class="content">
      <a id="avatar">
        <h1 style="color: var(--trivia-secondary); font-family:'Combo', cursive; font-weight:600; font-size:50px;">Elige
          tu avatar</h1>
        <img src="/static/img/avatars/{{usuario.avatar}}/normal.gif" style="max-width:100%" id="selectedAvatar" />
      </a>
      <div id="avatar-options">
        <a class="avatars">
          <img src="/static/img/avatars/1/normal.gif" style="width:90px; height: 90px;" id="avatar1" />
        </a>
        <a class="avatars">
          <img src="/static/img/avatars/2/normal.gif" style="width:90px; height: 90px;" id="avatar2" />
        </a>
        <a class="avatars">
          <img src="/static/img/avatars/3/normal.gif" style="width:90px; height: 90px;" id="avatar3" />
        </a>
        <a class="avatars">
          <img src="/static/img/avatars/4/normal.gif" style="width:90px; height: 90px;" id="avatar4" />
        </a>
      </div>
    </section>

    <aside class="content">
      <section class="form-register-update">
        <h4 style="font-family:'Combo', cursive; font-weight:600; font-size:xx-large">Información Personal</h4>
        <label for="nombres" style="font-family:'Combo', cursive; font-weight:500;">Nombres</label>
        <input class="controls" type="text" name="nombres" id="nombres" value="{{usuario.nombres}}" />
        <label for="apellidos" style="font-family:'Combo', cursive; font-weight:500;">Apellidos</label>
        <input class="controls" type="text" name="apellidos" id="apellidos" value="{{usuario.apellidos}}" />
        <label for="nac" style="font-family:'Combo', cursive; font-weight:500;">Fecha de Nacimiento</label>
        <input class="controls" type="date" name="nac" id="nac" value="{{usuario.fechaNacimiento}}" />
        <label for="correo" style="font-family:'Combo', cursive; font-weight:500;">Email</label>
        <input class="controls" type="email" name="correo" id="correo" value="{{usuario.email}}" />
        <label for="contraseña" style="font-family:'Combo', cursive; font-weight:500;">Contraseña <span>(Deje en blanco
            para no cambiar)</span></label>
        <input class="controls" type="password" name="contraseña" id="contraseña" />

        <br>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="activarCorreos" value="1" id="notificaciones"
                 {%if usuario.activarCorreos%} checked {% endif %} />
          <label class="form-check-label" for="notificaciones">Notificaciones</label>
        </div>
        <br>
        <input class="botons" type="submit" value="Guardar"
          style="font-family:'Combo', cursive; font-weight:600; font-size: x-large;" />
        <a class="botons" href="/dashboard"
          style="font-family:'Combo', cursive; font-weight:600; font-size: x-large; text-decoration: none">Cancelar</a>
      </section>

    </aside>
    <input type="number" name="avatar" id="selectedAvatarInput" value="{{usuario.avatar}}" hidden>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/validaciones.js"></script>
<script src="/static/js/perfil.js"></script>
{% endblock %}