{% extends 'base.html' %}

{% block titulo %}
  Trivia
{% endblock %}

{% block username %}
  {{ usuario.nombres }} {{ usuario.apellidos }}
{% endblock%}

{% block id %}
  {{ usuario.idUser }}
{% endblock %}

{% block progressbar %}
    <div class="progress-bar" style="width: {{ progress }}%;" title="{{progress}}%"></div>
{% endblock %}

{% block nivel %}
<div class="d-flex gap-2">
  <span>
   <b>Nivel:</b>&nbsp;{{ usuario.nivel }}
  </span>
  <span>
   <b>Intentos:</b>&nbsp;{{ usuario.intentosFallidos}}
  </span>
</div>
{% endblock %}


{% block contenido %}
  <div class="d-flex flex-column gap-5">
    <span class="fs-2 text-center">{{ pregunta.pregunta }}</span>
    <div class="d-flex flex-column gap-2">
      <div class="rounded m-2 p-3 fs-5 text-white trivia-answer"
           tg-is-correct="{{ pregunta.respuesta_1.is_correct }}">
        {{ pregunta.respuesta_1.text }}
      </div>
      <div class="rounded m-2 p-3 fs-5 text-white trivia-answer"
           tg-is-correct="{{ pregunta.respuesta_2.is_correct }}">
        {{ pregunta.respuesta_2.text }}
      </div>
      <div class="rounded m-2 p-3 fs-5 text-white trivia-answer"
           tg-is-correct="{{ pregunta.respuesta_3.is_correct }}">
        {{ pregunta.respuesta_3.text }}
      </div>
    </div>
    <div class="d-flex flex-column">
      <span class="mx-auto">Respuesta correcta/incorrecta</span>
      <button class="mx-auto btn tg-secondary-btn">Continuar/Intentar otra vez</button>
    </div>
  </div>
{% endblock %}